@{
    ViewBag.Title = "Edit article";
}
@model ItBlog.Models.Article
<h2 style="color:aliceblue">Cтатья № @Model.ArticleId</h2>
@using (Html.BeginForm("EditArticle", "Home", FormMethod.Post))
{
<fieldset style="color:aliceblue">
    @Html.HiddenFor(m => m.ArticleId)
    <p>
        @Html.LabelFor(m => m.Name, "Name")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>@Html.LabelFor(m=>m.Category,"Категория")</p>
    <p>
        <select id="Category" name="Category">
            <option>C/C++</option>
            <option>C#</option>
            <option>Python</option>
            <option>Java</option>
        </select>
    </p>
    <p>
        @Html.LabelFor(m => m.ShortDescription, "Short Description")
        <br />
        @Html.EditorFor(m => m.ShortDescription)

    </p>
    <p>
        @Html.LabelFor(m => m.FullDescription, "Full Description")
        <br />
        @Html.EditorFor(m => m.FullDescription)

    </p>
    <p>
        @Html.LabelFor(m => m.Tags, "Tags(Separate with '')")
        <br />
        @Html.EditorFor(m => m.Tags)

    </p>
    <p><input type="submit" value="Edit" /></p>
</fieldset>
}