@{
    ViewBag.Title = "Home Page";
    
}
<div class="main" id="all">
    <div class="wrapper">
    <form asp-controller="Articles" asp-action="Index" method="get" class="form">
        <p class="form-text"> Category:</p>
            <select id="articleCat" name="articleCat" class="form_input" >
                <option>All</option>
                @foreach(var b in ViewBag.Categories)
                {<option>@b.CategoryName</option> }
            </select>
            <p class="form-text"> Tag:</p> 
            <input class="form_input" type="text" name="SearchString">
            <input class="form_input date" type="date" name="fromDate" value="@DateTime.MinValue" />
            <input class="form_input date" type="date" name="forDate" value="@DateTime.MaxValue" />
            <button type="submit" value="Filter" class="form_search">
                <img src="~/Content/img/iconmonstr-magnifier-1.svg" />
            </button>
    </form>
    <div>
        <a href="/Home/ShowCategories">Show Categories</a>
    </div>
    <div class="article_items">
        <div class="box_add">
            <a class="button_add" href="/Home/AddArticle"><span> Add article</span></a>
        </div>
        <div class="items">
            @foreach (var b in ViewBag.Articles)
            {

            <div class="on_item">
                <div class="in_item">
                    <div class="box_upper">
                        <div class="box_item category">
                            <span> @b.Category </span>
                            @if (b.UserMail == User.Identity.Name)
                            {
                                <div class="box_item delete"><a href="/Home/DeleteArticle?id=@b.ArticleId"><img src="~/Content/img/icons8-delete.svg" /></a></div>
                            }
                        </div>
                    </div>
                    <div class="box_item name"><span> @b.Name </span></div>
                    <div class="box_item description"><span> @b.ShortDescription </span></div>

                    <div class="box_item usermail"><span> @b.UserMail </span> </div>
                    <div class="box_item time"><span> @b.Time.ToUniversalTime() </span> </div>
                    <div class="box_item tags"><span> @b.Tags  </span></div>
                     <div>
                         @if (b.Picture!= null)
                         {
                             if (b.Picture.Image != null)
                             {
                         @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                                          + Convert.ToBase64String(b.Picture.Image) + "\" />")
                                 }
                             }
                    </div>
                    @if (b.UserMail == User.Identity.Name)
                    {

                        <div class="box_item edit"><a href="/Home/EditArticle?id=@b.ArticleId">Edit</a></div>
                    }
                    <div class="box_item show"><a href="/Home/ShowFull?id=@b.ArticleId">Show</a></div>
                </div>
            </div>

            }
        </div>
    </div>
    </div>

</div>