<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Article.Name</title>
</head>
<body>
 
        <div class="on_item full">
            <div class="in_item">
                <div class="box_upper">
                    <div class="box_item category full">
                        @if (ViewBag.Article.UserMail == User.Identity.Name)
                        {
                            <div class="box_item delete"><a href="/Home/DeleteArticle?id=@ViewBag.Article.ArticleId"><img src="~/Content/img/icons8-delete.svg" /></a></div>
                        }
                    </div>
                </div>
                <div class="box_item name"><span> @ViewBag.Article.Name </span></div>
                <div class="box_item description"><span> @ViewBag.Article.FullDescription </span></div>

                <div class="box_item usermail"><span> @ViewBag.Article.UserMail </span> </div>
                <div class="box_item time"><span> @ViewBag.Article.Time.ToUniversalTime() </span> </div>
                <div class="box_item tags"><span> @ViewBag.Tags  </span></div>


                <div class="box_item edit"><a href="/Home/EditArticle?id=@ViewBag.Article.ArticleId">Edit</a></div>

                <div class="box_item show"><a href="/Home/ShowFull?id=@ViewBag.Article.ArticleId">Show</a></div>

                @if (ViewBag.Article.Comments != null)
                {
                    <div>asp</div>
                    foreach (var i in ViewBag.Article.Comments)
                    {
                        <div>
                            <p>@i.Author</p><br />
                            <p>@i.TextOfComment</p><br />
                            <p>@i.Time</p>
                        </div>
                    }
                }

                @using (Html.BeginForm("ShowFull", "Home", FormMethod.Post))
                {

                    
            <div class="item">
                <label> Comment </label>
                <input type="hidden" value="@ViewBag.Article.ArticleId" name="articleid" id="articleid" />
                <input id="textOfComment" name="textOfComment" type="text" required />
                <input type="submit" value="Create comment" />
            </div>
                }
            </div>
        </div>
</body>
</html>