@using ItBlog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

    
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal-register", role = "form" }))
            {
            <div class="main-register login">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group-register">
                    @Html.LabelFor(m => m.Email, new { @class = "text-label_login" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form_input-login" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group-register">
                    @Html.LabelFor(m => m.Password, new { @class = "text-label_login" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form_input-login" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group-register signup">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group-register signup">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Выполнить вход" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group-register signup">
                    @Html.ActionLink("Sign up", "Register")
                </div>
                @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
        <p>
            @Html.ActionLink("Забыли пароль?", "ForgotPassword")
        </p>*@
            </div>
            }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}